:root{
    --color-cabecalho:rgb(142, 216, 221);
    --color-cabecalho-dark: rgb(120, 198, 204);
    --color-aside-dark: rgb(76, 78, 78);;
}

*{
    margin:0;
}


.grid-container{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 5% 95%;
    background-color: white;
    height: 600px;
    
}

/*Cabeçalho*/
.grid-container header{
    grid-column: 1 / span 2;
    
}

.grid-cabecalho{
    display:grid;
    grid-template-columns: 15% 100%;
    
}

.grid-cabecalho .logo{
    text-align: center;
    background-color:var(--color-cabecalho-dark);
    padding: .5em;
}

.grid-cabecalho .barra-titulo{
    display:grid;
    grid-template-columns: 75% 25%;
    background-color:var(--color-cabecalho);
    padding: .5em;
}



/*barra lateral*/
aside{
    margin-top: 0.4em;
    background-color: var(--color-aside-dark);
   
}

aside .logo{
    height: 4em;
    color: white;
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

aside .menu{
    height: 2em;
    color: green;
    background-color: black;
    padding: .5em;
}

aside .usuarios{
    height: 2em;
    color: white;
    padding: .5em;
}


/*Conteudo principal*/
.grid-principal{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    margin-top: 0.4em;

}

.grid-principal .titulo{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: azure;
}

.titulo .direita{
    margin-right: 3em;
    margin-top: 1em;
    text-align: right;
}

.titulo .esquerda{
    margin-left: 1em;
    margin-top: 1em;
}

.grid-principal aside{
    background-color: azure;
}

.grid-usuarios{
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 10% 90%;
}

.grid-usuarios .lista-usuarios{
    grid-column: 1 / span 6;
    
}

/* Novos usuarios*/
.novos-usuarios{
    display:grid;
    grid-template-columns: 50% 50%;
    
}

.novos-usuarios > div{
    height: 5em;
    border: 1px solid black;
    margin: 0 1em;
}


#icone{
    max-height: 1em;
    margin-bottom: .3em;
}

#icone > div{
    background-color:white;
    height: .15em;
    width: 1.5em;
    margin: .3em;
    
}